<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalversionadroidapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.chefdefiliere.listEtudiantActivity"></activity>
        <activity android:name=".activity.chefdefiliere.GestionEtudiantActivity" />
        <activity android:name=".activity.chefdefiliere.listProfesseurActivity" />
        <activity android:name=".activity.chefdefiliere.GestionProfesseurActivity" />
        <activity android:name=".activity.authentication.ChefFiliereActivity" />
        <activity android:name=".activity.messagerie.MessageList" />
        <activity android:name=".activity.messagerie.MessageDetail" />
        <activity android:name=".activity.messagerie.NewMessage" />
        <activity android:name=".activity.pedagogie.Cours" />
        <activity android:name=".activity.evenement.Event" />
        <activity android:name=".activity.messagerie.MessagerieHome" />
        <activity android:name=".activity.users.SettingsActivity" />
        <activity android:name=".activity.authentication.HomeActivity" />
        <activity android:name=".activity.authentication.RegisterActivity" />
        <activity android:name=".activity.authentication.LoginActivity" />
        <activity android:name=".activity.emploi.ConsultCreateActivity" />
        <activity android:name=".activity.emploi.DayDetailActivity" />
        <activity android:name=".activity.emploi.WeekActivity" />
        <activity android:name=".activity.emploi.YearActivity" />
        <activity android:name=".activity.emploi.SecondweekActivity" />
        <activity android:name=".activity.emploi.DetaildayconsultActivity" />
        <activity android:name=".activity.PlanDeFormation.MainActivity1" />
        <activity android:name=".activity.PlanDeFormation.ModulesActivity" />
        <activity android:name=".activity.about.About" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.authentication.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>